<!-- Start include/bottom -->
    <script src="/delight-assets/jquery/js/jquery.min.js"></script>
    <script src="/delight-assets/jquery/js/jquery.timeago.js"></script>
    <script src="/delight-assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/autoloader.bottom.js"></script>
    <script>
      // Apply `timeago`
      $(document).ready(function() {
        $(".timestamp").timeago();
      });
    </script>
  </body>
</html>
